---
import type { CollectionEntry } from 'astro:content'
import Post from './post.astro'

interface Props {
  posts: Array<CollectionEntry<'posts'>>
}

const { posts } = Astro.props
---

<section class='grid grid-cols-1 gap-y-12'>
  {
    posts
      .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
      .map((post) => <Post post={post} />)
  }
</section>
