---
import type { CollectionEntry } from 'astro:content'
import Template from './template.astro'
import { getExcerpt } from '~/utils/excerpt'
import img from '../../../public/favicon.svg?inline'

interface Props {
  post: CollectionEntry<'posts'>
  site: CollectionEntry<'site'>
}

const { post, site } = Astro.props
---

<Template>
  <div
    style='display: flex; flex: 1; flex-direction: column; align-items: flex-start; justify-content: center;'
  >
    <div style='margin-bottom: 1.375rem; font-size: 4rem; font-weight: 700;'>
      {post.data.title}
    </div>
    <div
      style='display: block; font-size: 2rem; color: #71717a; line-clamp: 2;'
    >
      {post.data.description || (await getExcerpt(post.body!, { html: false }))}
    </div>
  </div>
  <div style='display: flex; align-items: center; justify-content: flex-end;'>
    {
      site.data.favicon && (
        <img
          style='margin-right: 0.5rem; border-radius: 9999px;'
          src={img}
          width={25}
          height={25}
          alt=''
        />
      )
    }
    <div style='font-weight: 700; font-size: 1.25rem;'>{site.data.title}</div>
  </div>
</Template>
