---
import ErrorLayout, { type Props as ErrorProps } from '~/layouts/error.astro'
import { Picture } from 'astro:assets'
import gif from '~/assets/errors/404.gif'

const props = {
  title: '404 Not Found',
  message: `Saya lagi nyari halamannya <code>${Astro.url.pathname}</code>. Saya nyari-nyari di mana ini halaman. Kok nggak ketemu ini halaman? &mdash; Mas Wapres, 2024`
} satisfies Pick<ErrorProps, 'title' | 'message'>

export const prerender = false
---

<ErrorLayout {...props}>
  <p><Picture src={gif} layout='responsive' priority={true} alt='' /></p>
</ErrorLayout>
