---
import Layout from '~/layouts/layout.astro'
import HomeFeatured from '~/components/home/featured'
import { getCollection } from 'astro:content'

const allWorksItems = await getCollection('works')
const featuredWork = allWorksItems.find((item) => item.data.featured)
---

<Layout>
  <title slot="head">Astro</title>

  <div class="__top"></div>
  <HomeFeatured
    title={featuredWork?.data.title}
    subtitle={featuredWork?.data.subtitle}
    link={featuredWork?.data.link}
    url={`/works/${featuredWork?.slug}`}
  />
</Layout>

<style lang="scss">
  .__top {
    padding-top: calc(var(--block-spacing-vertical) * 4);
  }
</style>
