---
import { getEntry } from 'astro:content'
import SimpleIconsBluesky from '~icons/simple-icons/bluesky'
import SimpleIconsFacebook from '~icons/simple-icons/facebook'
import SimpleIconsGithub from '~icons/simple-icons/github'
import SimpleIconsInstagram from '~icons/simple-icons/instagram'
import SimpleIconsLinkedin from '~icons/simple-icons/linkedin'
import SimpleIconsThreads from '~icons/simple-icons/threads'
import SimpleIconsTiktok from '~icons/simple-icons/tiktok'
import SimpleIconsX from '~icons/simple-icons/x'
import MaterialSymbolsArrowOutward from '~icons/material-symbols/arrow-outward'

const links = await getEntry('menu', 'social')
---

<Fragment>
  {
    links && links.data.items.length > 0 && (
      <nav class='my-4'>
        <ul class='flex gap-8'>
          {links.data.items.map((link) => (
            <Fragment>
              {link.discriminant === 'social' && (
                <li class='text-xl text-neutral-500/60 transition-colors group-[[data-image=true]]:text-neutral-50/80 hover:text-neutral-500 hover:group-[[data-image=true]]:text-neutral-50'>
                  <a
                    href={link.value.url}
                    aria-label={link.value.type}
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    {link.value.type === 'bluesky' ? (
                      <SimpleIconsBluesky />
                    ) : link.value.type === 'facebook' ? (
                      <SimpleIconsFacebook />
                    ) : link.value.type === 'github' ? (
                      <SimpleIconsGithub />
                    ) : link.value.type === 'instagram' ? (
                      <SimpleIconsInstagram />
                    ) : link.value.type === 'linkedin' ? (
                      <SimpleIconsLinkedin />
                    ) : link.value.type === 'threads' ? (
                      <SimpleIconsThreads />
                    ) : link.value.type === 'tiktok' ? (
                      <SimpleIconsTiktok />
                    ) : link.value.type === 'x' ? (
                      <SimpleIconsX />
                    ) : (
                      <MaterialSymbolsArrowOutward />
                    )}
                  </a>
                </li>
              )}
            </Fragment>
          ))}
        </ul>
      </nav>
    )
  }
</Fragment>
