---
import { getCollection } from 'astro:content'

const posts = await getCollection('pages', (post) =>
  import.meta.env.DEV
    ? post.data.type === 'post' && !post.data.hidden
    : post.data.type === 'post' && !post.data.hidden && !post.data.draft
)
---

<section class='grid'>
  {
    posts.map((post) => {
      if (post.data.type !== 'post') {
        return null
      }

      const uri = [
        post.data.publishedDate.getFullYear(),
        String(post.data.publishedDate.getMonth() + 1).padStart(2, '0'),
        post.id
      ].join('/')
      return (
        <article>
          <h2>
            <a href={`/${uri}`}>{post.data.title}</a>
          </h2>
          <p class='__date'>
            <time datetime={post.data.publishedDate.toISOString()}>
              <small>
                {post.data.publishedDate.toLocaleDateString('id', {
                  dateStyle: 'full'
                })}
              </small>
            </time>
          </p>
          <footer>
            <a href={`/${uri}`}>Baca Selengkapnya</a>
          </footer>
        </article>
      )
    })
  }
</section>

<style lang='scss'>
  .__date {
    color: var(--pico-muted-color);
  }
</style>
