---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'main'> {}

const { class: className, ...props } = Astro.props
---

<main
  class:list={[
    'mx-auto min-h-[calc(100vh-8rem-320px-52px)] max-w-screen-md px-8 md:px-0',
    className
  ]}
  {...props}
>
  <slot />
</main>
