---
import Layout, { type Props as LProps } from './layout.astro'
import Menu from '~/components/menu/menu.astro'

export interface Props extends LProps {}
const { ...props } = Astro.props
---

<Layout {...props}>
  <main class='flex flex-col-reverse gap-2 p-8 lg:p-12 h-dvh'>
    <Menu transition:name='menu' transition:persist />
    <article
      id='main'
      class='relative flex-1 overflow-x-hidden overflow-y-auto pb-8'
    >
      {
        props.title && (
          <h1 class='text-center text-4xl xl:text-5xl font-bold mb-4 lg:mb-8'>
            {props.title}
          </h1>
        )
      }
      <slot />
      <div
        class='sticky -bottom-9 h-12 bg-linear-to-t from-background-primary to-background-primary/0'
      >
      </div>
    </article>
  </main>
</Layout>
