---
import Layout, { type Props as LProps } from './layout.astro'
import Menu from '~/components/menu/menu.astro'

export interface Props extends LProps {}
const { ...props } = Astro.props
---

<Layout {...props}>
  <main
    class='mx-auto flex h-dvh max-w-screen-xl flex-col-reverse gap-2 p-8 lg:p-12'
  >
    <Menu transition:name='menu' transition:persist />
    <article
      id='main'
      class='relative flex-1 overflow-x-hidden overflow-y-auto pb-8'
    >
      {
        props.title && (
          <h1 class='mb-4 text-center text-4xl font-bold lg:mb-8 xl:text-5xl'>
            {props.title}
          </h1>
        )
      }
      <slot />
      <div
        class='from-background-primary to-background-primary/0 sticky -bottom-9 h-12 bg-linear-to-t'
      >
      </div>
    </article>
  </main>
</Layout>
