---
import Layout, { type Props as LProps } from './layout.astro'
import Header from '~/components/common/header/header.astro'
import Gradient from '~/components/common/gradient/gradient.astro'

export interface Props extends LProps {}
const { ...props } = Astro.props
---

<Layout {...props}>
  <main
    class='prose lg:prose-lg prose-theme dark:prose-invert prose-headings:font-display dark:prose-img:saturate-50 dark:prose-img:opacity-80 relative mx-auto max-h-dvh max-w-screen-lg overflow-y-auto px-4 pt-20 pb-48 sm:px-8 xl:px-0'
  >
    {
      Astro.slots.has('header') ||
        (props.title && (
          <Header title={props.title} className='not-prose mb-8 xl:mb-10'>
            <slot name='header' />
          </Header>
        ))
    }

    <slot />
    <Gradient class='fixed inset-x-0 bottom-0 h-48' />
  </main>
</Layout>
