.__header {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--background-color) / 0.2;
  position: fixed;
  z-index: 2;

  backdrop-filter: blur(30px) saturate(125%);
}

.__title {
  font-weight: bold;
}

.__d_menu {
  gap: 1rem;
}

@media (min-width: 768px) {
  .__m_menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .__d_menu {
    display: none;
  }
}
